.tracker {
  background-color: #eadfbd;
  padding: 10px;
  margin: 10px;
  width: 50%;
  border-radius: 5px;
  color: #797f3e;
}

#reading-progress {
  text-align: center;
}

.progress-container {
  width: 100%;
  margin-right: 10px;
  margin-bottom: 5px;
  padding-bottom: 10px;
  height: 16px;
  background-color: #ffffffd2;
  border-radius: 8px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background-color: #454f2d;
  padding-bottom: 10px;
  border-radius: 8px;
  transition: width 0.3s ease;
}

.progress-input {
  margin: 5px;
  padding: 5px;
  border: none;
  border-radius: 8px;
  color: #454f2d;
  font-weight: bold;
}

::placeholder {
  color: #454f2d8e;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}

#complete-btn {
  font-family: "Times New Roman", Times, serif;
  margin: 5px;
  padding: 5px;
  border: none;
  border-radius: 8px;
  background-color: #454f2d;
  color: #f5f1e4;
  font-weight: bold;
}

#complete-btn:hover {
  color: #efb711;
}

.book-title {
  font-style: italic;
}
