.reviews-container {
  background-color: #797f3e;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  gap: 10px;
}

.review-card {
  background-color: #454f2dc4;
  padding: 5px;
  padding-left: 10px;
  margin: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.rvw-title {
  font-style: italic;
}
