.timer {
  background-color: #a2865a;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  gap: 10px;
}

.time-selector {
  background-color: #eadfbdc7;
  padding: 15px;
  border-radius: 8px;
  color: #534332;
  text-align: center;
}

.timer-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-btn {
  font-family: "Times New Roman", Times, serif;
  margin: 5px;
  padding: 8px;
  border: none;
  border-radius: 8px;
  background-color: #534332;
  color: #f5f1e4;
  font-weight: bold;
}

.timer-btn:hover {
  color: #efb711;
}
