.wishlist-container {
  background-color: #eadfbd;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  color: #797f3e;
}

.wishlist-input {
  font-family: "Times New Roman", Times, serif;
  margin: 5px;
  padding: 5px;
  border: none;
  border-radius: 8px;
  color: #454f2d;
  font-weight: bold;
}

#wishlist-btn,
#current-btn {
  font-family: "Times New Roman", Times, serif;
  margin: 5px;
  padding: 5px;
  border: none;
  border-radius: 8px;
  background-color: #454f2d;
  color: #f5f1e4;
  font-weight: bold;
}

#wishlist-btn:hover,
#current-btn:hover {
  color: #efb711;
}

.wishlist-list {
  background-color: #a2865a;
  padding: 10px;
  border-radius: 8px;
  list-style-type: none;
}
.wishlist-item {
  background-color: #eadfbd;
  color: #454f2d;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

.book-title {
  font-style: italic;
}
